<div class="light-overlay ptitle">
  <h2>Art through a lens</h2>
  <h5>View all my galleries</h5>
</div>


<section id="portfolio" class="grid">
  <% @galleries.each do |gallery| %>
    <figure class="effect-portfolio wow fadeIn" data-wow-duration="2s"> <!-- Portfolio 2 -->
      
      <%= (gallery.mature or gallery.photos.empty?) ? (image_tag "02_mobile_services.jpg") : (image_tag gallery.photos.first.image.url(:large), :alt => "") %>
      
      <figcaption> <!-- Caption -->
        <h2><%= gallery.title %></h2>
        <p>Click to view this gallery</p>
        <a href="#gallery_<%= gallery.id %>" class="portfolio-link" data-toggle="modal">View more</a><!-- Larger image popup -->
      </figcaption> <!-- End caption -->   
    </figure> <!-- End portfolio 2 -->
  <% end %>
</section> 








   
<% @galleries.each do |gallery| %>
  <div class="portfolio-modal modal fade" id="gallery_<%= gallery.id %>" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>

          <div class="container">
            
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <!-- Project Details Go Here -->
                          <h2><%= gallery.title %></h2>
                          <p><%= gallery.body.html_safe %></p>
                           

                          <div id="slider" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                              <% gallery.photos.each do |photo| %>
                                <div class="item active">
                                  <%= image_tag photo.image.url, :alt => "" %>
                                </div>
                              <% end %>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
                              <span class="fa fa-caret-left fa-2x"></span>
                            </a>
                            <a class="right carousel-control" href="#slider" role="button" data-slide="next">
                              <span class="fa fa-caret-right fa-2x"></span>
                            </a>
                          </div>

                          
                          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>

                      </div>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
<% end %>